### Scala template
*.class
*.log
*.x3d

# sbt specific
.cache
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Created by .ignore support plugin (hsz.mobi)
